.Skills {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Skills h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  
}

.Skills ul {
  list-style-type: none;
  padding-left: 0;
}

.Skills ul li {
  margin-bottom: 10px;
}

.Skills ul li ul {
  margin-top: 5px;
  padding-left: 20px;
}

.Skills ul li ul li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.Skills ul li ul li:before {
  content: "•";
  color: #007bff;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.section-heading {
  font-weight: bold;
}
